#header{
  background-color: #83C9F4;
}
.social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .icon-colour {
    color: #700c86 !important;
  }
  
  .footer {
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important ;
    position: fixed;
    bottom: 0;
    /* background-color: rgb(184, 219, 239); */
    background-color: #83C9F4;
  }
  .footer-copywright {
    text-align: center !important;
  }
  
  .footer-body {
    z-index: 1;
    text-align: center !important;
  }
  
  @media (max-width: 767px) {
    .footer-copywright {
      text-align: center !important;
    }
  
    .footer-body {
      text-align: center !important;
    }
  }
  
  .footer h3 {
    font-size: 1em;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
  .footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
  }
  
  .blockquote-footer {
    color: #a588c0 !important;
  }
  
  .Typewriter__wrapper {
    font-size: 2.2em !important;
    color: #016FB9 !important;
    font-weight: 600 !important;
  }
  .Typewriter__cursor {
    font-size: 2.4em !important;
    color: #016FB9!important;
  }
  /* .App{
    z-index: 1;
    background-color: rgb(160, 252, 249);
  } */
  .particles-bg-canvas-self{
    /* background: rgb(184, 219, 239); */
    background: #83C9F4
  }
  .display-card{
    transition: 0.2s;
    background-color: #99D8FF
  }
  .display-card:hover{
    scale: 1.05;
  }
  .project{
    border: 1px black solid;
    border-radius: 20px;
  }
  .tech-icons {
    font-size: 3em !important;
    padding: 5px !important;
    opacity: 0.93 !important;
    border: 1.7px solid rgba(255, 255, 255, 0.637) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    box-shadow: 4px 5px 4px 3px rgba(255, 255, 255, 0.137) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
  }
  
  @media (max-width: 767px) {
    .tech-icons {
      margin: 10px !important;
    }
  }
  
  .tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid rgba(255, 255, 255, 1) !important;
  }
  .tech-icon-images {
    padding: 20px !important;
    line-height: 1.6 !important;
  }